
.vs/gosdk/v16/ipch/AutoPCH/f838b3e89358e9d0/RENDER.ipch
.vs/gosdk/v16/Browse.VC.opendb
.vs/gosdk/v16/Browse.VC.db-wal
.vs/gosdk/v16/Browse.VC.db-shm
.vs/gosdk/v16/Browse.VC.db
.vs/gosdk/v16/.suo
.vs/gosdk/v16/ipch/AutoPCH/13654cd0f39c2896/NETVAR.ipch
.vs/gosdk/v16/ipch/AutoPCH/9b7713be6f2b11ec/HOOK.ipch
.vs/gosdk/v16/ipch/AutoPCH/a071e3c49fe20218/INTERFACES.ipch
Debug/gosdk.dll
Debug/gosdk.ilk
Debug/gosdk.pdb
gosdk/Debug/config.obj
gosdk/Debug/dllmain.obj
gosdk/Debug/gosdk.log
gosdk/Debug/gosdk.tlog/CL.command.1.tlog
gosdk/Debug/gosdk.tlog/CL.read.1.tlog
gosdk/Debug/gosdk.tlog/CL.write.1.tlog
gosdk/Debug/gosdk.tlog/gosdk.lastbuildstate
gosdk/Debug/gosdk.tlog/link.command.1.tlog
gosdk/Debug/gosdk.tlog/link.read.1.tlog
gosdk/Debug/gosdk.tlog/link.write.1.tlog
gosdk/Debug/hook.obj
gosdk/Debug/interfaces.obj
gosdk/Debug/netvar.obj
gosdk/Debug/render.obj
gosdk/Debug/vc142.idb
gosdk/Debug/vc142.pdb
gosdk/Debug/vmt.obj
